# Every systemd, as a unit file it is, is structured with [Unit],[X] and [Install], where [X] is referred to the Unit File Type.
# For this activity, the one it fits the most is [Service].

# In Unit we define the relation between the Unit file and other ones.
[Unit]
Description = Print "Hello Profes" in ASCII.

# We define how the service runs.
[Service]
#ExecStart is the command systemd executes.
ExecStart = /home/uriii/AMSA/booting_systemd/hello.sh
# oneshot is for process that does only one job and then exits.
Type = oneshot
# Avoiding the service to go dead as soon as it finishes, not necessary.
RemainAfterExit = yes

[Install]
WantedBy=multi-user.target